.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures

############
# IntelliJ #
############

*.iml
*.ipr
*.iws
.idea/
out/

##########
# Gradle #
##########

.gradle/
build/

##################
# Android Studio #
##################

local.properties

##########
# Mac OS #
##########

.DS_Store

##########################
# Linux temporary files #
##########################

*~